@page "/"

<div class="container">
    <div style="
    background-image: url(https://res.cloudinary.com/reverb-sites/image/upload/t_facebook_meta/xqfwrgkws9ad70gdsajq.jpg)">

        <h1 style="color:darksalmon; padding:80px; ">Welcome to Guitar Shop</h1>
        <p style="color: darksalmon; padding:40px; ">Welcome to your new guitar shop, where you can buy the best guitar there is.</p>
    </div>
</div>