@page "/bills"

<h1>Your Bill</h1>

<GenericList Elements="guitarsInBill">
    <NullTemplate>
        <div>
            <img class="center" height="100" width="100" src="http://www.pzv.org.rs/obuke/images/loading.gif" />
        </div>
    </NullTemplate>

    <EmptyTemplate>
        <div>
            <label>Your Bill is Empty</label>
        </div>
    </EmptyTemplate>
    <WithElementsTemplate>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var guitar in guitarsInBill)
                {
                    <tr>
                        <td>@guitar.Name</td>
                        <td>@guitar.Price $</td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </WithElementsTemplate>
</GenericList>

<div>
    <label>Total Price: @Price </label>
</div>

@code {
    public string Price { get; set; } = Session.Instance.Bill.GetFormattedTotalPrice();
    public GuitarBill Bill { get; set; } = Session.Instance.Bill;
    public List<Guitar> guitarsInBill { get; set; } = Session.Instance.Bill.Guitars;
}
